<section class="relative w-full bg-center bg-cover py-10" style="background-image: url('./assets/images/image-6.jpg');">

	<div class="container relative z-10 mx-auto">
		<div class="flex flex-col gap-10 px-0 xl:px-28">
			<div class="flex flex-col w-full xl:justify-start justify-center xl:items-start items-center xl:text-start text-center gap-4 px-10">
				<h1 class="text-3xl font-medium text-gray-600">
					ابق على تواصل معنا
				</h1>
				<p class="text-xl text-gray-500">
					لا تتردد في التواصل معنا بخصوص أي مشروع أو أسئلة أو تعليقات. نحن نتطلع الى الاستماع منك.
				</p>
				<a [routerLink]="['/contact-us']"
					class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 text-white bg-blue-500 hover:bg-blue-600">
					تواصل معنا
				</a>
			</div>
		</div>
	</div>

</section>
