<section class="relative w-full bg-center bg-cover py-20 lg:py-20" id="about-us"
	style="background-image: url('./assets/images/image-6.jpg');">

	<div class="px-15 md:px-20 relative z-10 mx-auto pt-0 xl:pt-20 pb-0 sm:pb-56 xl:pb-32">
		<div class="grid grid-flow-row xl:grid-flow-col grid-rows-1 sm:grid-rows-2 xl:grid-cols-2 xl:grid-rows-none gap-8">
			<div class="relative order-2 xl:order-1 hidden sm:flex">
				<img src="./assets/images/image-10.jpg" alt="constructing"
					class="absolute w-80 top-0 xl:-top-20 right-1/4 xl:right-0">
				<img src="./assets/images/image-11.jpg" alt="asphalting"
					class="absolute w-96 top-3/4 xl:top-24 right-1/2 xl:right-56 border-[1rem] border-gray-50">
			</div>
			<div class="flex flex-col gap-8 text-center px-10 sm:px-16 order-1 xl:order-2">
				<h3 class="text-3xl text-gray-500">عن الشركة</h3>
				<h2 class="text-5xl font-bold font-['Reem_Kufi_Fun'] text-gray-800">أبو أحمد المصري</h2>
				<p class="text-base font-medium text-gray-500">
					أبو أحمد المصري هي شركة بناء ومقاولات متخصصة في تنفيذ المشاريع الهندسية والمعمارية بجودة عالية وسرعة
					في التسليم. تأسست
					الشركة عام 2010 برؤية واضحة لتقديم خدمات متميزة في مجال البناء والتشييد، وتضم فريقاً من المهندسين
					والفنيين ذوي الخبرة
					والكفاءة. تهدف الشركة إلى تلبية احتياجات عملائها بأفضل الحلول والتصاميم، وتقوم بتنفيذ مختلف أنواع
					المشاريع، سواء كانت
					سكنية أو تجارية أو صناعية أو حكومية.
				</p>
			</div>
		</div>
	</div>

</section>
