<header class="bg-transparent relative z-20">

	<nav class="-mt-5 mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">

		<div class="flex lg:flex-1">
			<a [routerLink]="['/']" class="-m-1.5 p-1.5 font-['Reem_Kufi_Fun']">
				<span class="text-white text-3xl font-bold">أبو أحمد المصري</span>
			</a>
		</div>

		<div class="flex lg:hidden">
			<button type="button" (click)="ShowSidebar = !ShowSidebar"
				class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-white">
				<span class="sr-only">Open main menu</span>
				<svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
					aria-hidden="true">
					<path stroke-linecap="round" stroke-linejoin="round"
						d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
				</svg>
			</button>
		</div>

		<div class="nav-list hidden lg:flex lg:gap-x-12">
			<a class="relative text-base font-semibold leading-6 text-white" [routerLink]="['/']">الرئيسية</a>
			<a class="relative text-base font-semibold leading-6 text-white" href="#about-us">من نحن</a>
			<a class="relative text-base font-semibold leading-6 text-white" href="#services">خدماتنا</a>
		</div>

		<div class="hidden lg:flex lg:flex-1 lg:justify-end">
			<a class="text-base font-semibold leading-6 text-white" [routerLink]="['/contact-us']">
				تواصل معنا
				<span aria-hidden="true">&rarr;</span></a>
		</div>

	</nav>

	<!-- Mobile menu, show/hide based on menu open state. -->
	<div [ngClass]="ShowSidebar? '':'md:hidden'" class="" role="dialog" aria-modal="true">

		<!-- Background backdrop, show/hide based on slide-over state. -->
		<div class="fixed inset-0 z-10" *ngIf="ShowSidebar"></div>

		<div [ngClass]="ShowSidebar?'translate-x-0':'translate-x-full'"
			class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 md:max-w-sm sm:ring-1 sm:ring-gray-900/10 transform transition ease-in-out duration-700">
			<div class="flex items-center justify-between">

				<a [routerLink]="['/']" class="-m-1.5 p-1.5 font-['Reem_Kufi_Fun']">
					<span class="text-gray-900 text-2xl font-bold">أبو أحمد المصري</span>
				</a>

				<button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700"
					(click)="ShowSidebar = !ShowSidebar">
					<span class="sr-only">Close menu</span>
					<svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
						aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
					</svg>
				</button>

			</div>

			<div class="mt-6 flow-root">
				<div class="-my-6 divide-y divide-gray-500/10">

					<div class="space-y-2 py-6">

						<div class="-mx-3"></div>

						<a [routerLink]="['/']"
							class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">
							الرئيسية
						</a>
						<a href="#about-us"
							class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">
							من نحن
						</a>
						<a href="#services"
							class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">
							خدماتنا
						</a>

					</div>

					<div class="py-6">
						<a [routerLink]="['/contact-us']"
							class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">
							تواصل معنا
						</a>
					</div>

				</div>
			</div>

		</div>

	</div>

</header>
